/*Created with Adobe RoboHelp 11.*/
p {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p {
	font-size: 10.0pt;
	font-family: Verdana;
}
h1 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	font-family: "Gill Sans MT", sans-serif;
	x-next-class: ;
	x-next-type: p;
	color: #0000ff;
}
LI.h1 {
	font-size: 14pt;
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
	font-family: "Gill Sans MT", sans-serif;
}
h2 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-weight: bold;
	font-size: 12pt;
	font-family: "Gill Sans MT", sans-serif;
}
LI.h2 {
	font-weight: bold;
	font-size: 12pt;
	font-family: "Gill Sans MT", sans-serif;
}
h3 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-weight: bold;
	font-size: 11pt;
	font-family: "Gill Sans MT", sans-serif;
}
LI.h3 {
	font-weight: bold;
	font-size: 11pt;
	font-family: "Gill Sans MT", sans-serif;
}
h4 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 10.0pt;
	font-weight: bold;
	font-family: "Gill Sans MT", sans-serif;
}
LI.h4 {
	font-size: 10.0pt;
	font-weight: bold;
	font-family: "Gill Sans MT", sans-serif;
}
p.Toc1 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 12.0pt;
	font-family: Verdana;
}
LI.p-Toc1 {
	font-size: 12.0pt;
	font-family: Verdana;
}
p.Toc2 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 12.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-Toc2 {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.Toc3 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 20.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-Toc3 {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.Header {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-Header {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.Footer {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-Footer {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.Title {
	margin-top: 22.0pt;
	margin-right: 0cm;
	margin-bottom: 11.0pt;
	margin-left: 14.2pt;
	line-height: 22.0pt;
	text-autospace: none;
	border: none;
	padding: 0cm;
	font-size: 18.0pt;
	font-family: Arial;
	color: #000000;
	font-weight: bold;
}
LI.p-Title {
	line-height: 22.0pt;
	text-autospace: none;
	font-size: 18.0pt;
	font-family: Arial;
	color: #000000;
	font-weight: bold;
}
p.Table {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-Table {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.NormalNote {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
LI.p-NormalNote {
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
p.NormalTip {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
LI.p-NormalTip {
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
p.NormalCaution {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-NormalCaution {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.NormalBug {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-NormalBug {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.NormalAuthor {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	color: #ff00ff;
}
LI.p-NormalAuthor {
	font-size: 10.0pt;
	font-family: Verdana;
	color: #ff00ff;
}
p.ListOrdered {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
	margin-left: 32.2pt;
	list-style: rh-list;
	x-list-class: rl-p-ListOrdered;
	x-list-level: 1;
}
LI.p-ListOrdered {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.ListUnordered {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
	margin-left: 32.2pt;
}
LI.p-ListUnordered {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.DefinitionText {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 32.05pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-DefinitionText {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.DefinitionItem {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: .0001pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-weight: bold;
}
LI.p-DefinitionItem {
	font-size: 10.0pt;
	font-family: Verdana;
	font-weight: bold;
}
p.ListingPlain {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: "Courier New";
}
LI.p-ListingPlain {
	font-size: 10.0pt;
	font-family: "Courier New";
}
p.ListingShaded {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	background: #F2F6FC;
	font-size: 10.0pt;
	font-family: "Courier New";
}
LI.p-ListingShaded {
	font-size: 10.0pt;
	font-family: "Courier New";
}
span.Button {
	border: solid #666666 1.0pt;
	padding: 0cm;
	background: #EEEEEE;
	font-weight: bold;
}
span.Key {
	color: #ffffff;
	border: solid #808080 1.0pt;
	padding: 0cm;
	background: #404040;
	font-weight: bold;
}
span.Shade {
	border: none;
	background: #B2C8EA;
}
span.MenuItem {
	font-weight: bold;
}
span.UserDefined {
	font-style: italic;
}
span.UserInterfaceItem {
	color: #800000;
}
span.UserInterfaceText {
	font-weight: bold;
}
span.Code {
	font-family: "Courier New";
}
span.Input {
	font-family: "Courier New";
}
p.ListOrderedSub {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
	margin-left: 50.2pt;
}
LI.p-ListOrderedSub {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.ListUnorderedSub {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
	margin-left: 50.2pt;
}
LI.p-ListUnorderedSub {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.Default {
	margin: 0cm;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: Arial;
	color: #000000;
}
LI.p-Default {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: Arial;
	color: #000000;
}
p.Step1 {
	margin-top: 8.0pt;
	margin-right: 0cm;
	margin-bottom: .0001pt;
	margin-left: 43.1pt;
	line-height: 13.0pt;
	text-autospace: none;
	font-size: 11.0pt;
	font-family: "Times New Roman";
	color: #000000;
}
LI.p-Step1 {
	line-height: 13.0pt;
	text-autospace: none;
	font-size: 11.0pt;
	font-family: "Times New Roman";
	color: #000000;
}
p.BulletLevel2 {
	margin-top: 8.0pt;
	margin-right: 14.0pt;
	margin-bottom: .0001pt;
	margin-left: 54.0pt;
	text-indent: -11.0pt;
	line-height: 13.0pt;
	text-autospace: none;
	font-size: 11.0pt;
	font-family: "Times New Roman";
	color: #000000;
}
LI.p-BulletLevel2 {
	text-indent: -11.0pt;
	line-height: 13.0pt;
	text-autospace: none;
	font-size: 11.0pt;
	font-family: "Times New Roman";
	color: #000000;
}
p.StyleNormalNoteLeft0cm {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-StyleNormalNoteLeft0cm {
	font-size: 10.0pt;
	font-family: Verdana;
}
span.BulletLevel2 {
	color: #000000;
}
span.ListingPlain {
	font-family: "Courier New";
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
p.InlineNormal3 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	text-align: center;
}
LI.p-InlineNormal3 {
	font-size: 10.0pt;
	font-family: Verdana;
	text-align: center;
}
p.InlineNormal2 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
LI.p-InlineNormal2 {
	font-size: 10.0pt;
	font-family: Verdana;
}
p.InlineDefault3 {
	margin: 0cm;
	margin-bottom: 24.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: Arial;
	color: #000000;
	text-align: center;
}
LI.p-InlineDefault3 {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: Arial;
	color: #000000;
	text-align: center;
}
LI.p-InlineListOrdered {
	text-indent: -18.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
	list-style: inside decimal;
}
LI.p-InlineListUnordered {
	text-indent: -18.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
	list-style: inside disc;
}
p.InlineNormalTip {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
LI.p-InlineNormalTip {
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
p.UL {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	color: #000000;
}
LI.p-UL {
	font-size: 10.0pt;
	font-family: Verdana;
	color: #ff00ff;
}
p.InlineNormalCaution {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-weight: bold;
	font-style: italic;
}
LI.p-InlineNormalCaution {
	font-size: 10.0pt;
	font-family: Verdana;
	font-weight: bold;
	font-style: italic;
}
LI.p-InlineListUnorderedSub {
	font-size: 10.0pt;
	font-family: Verdana;
	list-style: inside disc;
}
p.InlineDefault2 {
	margin: 0cm;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: Arial;
	color: #000000;
}
LI.p-InlineDefault2 {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: Arial;
	color: #000000;
}
p.InlineNormalNote {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
LI.p-InlineNormalNote {
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
}
p.WD_Heading1 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	font-family: "Gill Sans MT", sans-serif;
	color: #006dff;
}
p.WD_Heading2 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-weight: bold;
	font-size: 12pt;
	font-family: "Gill Sans MT", sans-serif;
}
p.WD_Heading3 {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-weight: bold;
	font-size: 11pt;
	font-family: "Gill Sans MT", sans-serif;
}
p.WD_Heading4 {
	font-weight: bold;
}
span.WD_Heading4 {
}
p.WD_StyleNormalNoteLeft0cm {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
}
span.WD_NormalNoteChar {
	font-family: Verdana;
	font-style: italic;
}
p.WD_ListUnordered {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 50.2pt;
	text-indent: -20.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
p.WD_ListUnorderedSub {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 72.2pt;
	text-indent: -20.0pt;
	font-size: 10.0pt;
	font-family: Verdana;
}
p.WD_NormalNote {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
}
p.WD_NormalTip {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 14.2pt;
	font-size: 10.0pt;
	font-family: Verdana;
	font-style: italic;
}
p.WD_Heading1 {
	color: #ffffff;
}
span.WD_SubtleEmphasisGlossaryDefinitiion {
}
rh-list.rl-p-ListOrdered {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
p.WD_Heading3 {
}
span.rls-1-MultiLevel {
	font-family: Verdana;
	font-size: 11pt;
}
